.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.photo-item {
    border-radius:.5rem;
}
.details-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}