#photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
#photo-item {
    border-radius:.5rem;
}
#details-container {
    font-family: "Gilda Display", serif;
}
#title-author-flex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.25rem;
}
#title {
    font-size: 20px;
}
#author {
    color: #6C6C6C;
    font-size: 12px;
}

#upload-date  {
    color:#881C1C;
}
#menu-icon {
    position: fixed;
    top: 1rem;
    left: .75rem;
    transform: scale(0.90);
}